name: Build and deploy ASP.Net Core app to Azure Web App: scriberocket-api-prod

"on":
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore
        run: dotnet restore backend/ScribeApi/ScribeApi.csproj

      - name: Build
        run: dotnet build backend/ScribeApi/ScribeApi.csproj -c Release --no-restore

      - name: Publish
        run: dotnet publish backend/ScribeApi/ScribeApi.csproj -c Release -o ./publish --no-build

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: scriberocket-api-prod
          slot-name: production
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_a8f7ad3a11214270b3f22b0504a5344e }}
          package: ./publish
